/* CSS declarations go here */
body {
  font-family: Open Sans, Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 200;
  margin: 100px 200px 100px 200px;
}
.post {
  border-style: dashed none dashed none;
  border-color: #999;
  border-width: 4px;
  border-radius: 5px;
  background-color: yellow;
  padding: 5px;
}
.groups {
  border-style: dashed none none none;
  border-radius: 5px;
  border-width: 4px;
  border-color: #999;
}
.postMsg {}
.postMsgB {}
.usrn {}
.uname {}
.group {}
.group.current {
  background-color: yellow;
}
.gform {
  border-style: dashed none dashed none;
  border-color: #999;
  border-width: 4px;
  border-radius: 5px;
  background-color: yellow;
  padding: 5px;
}
.help {
  border-style: dashed none none none;
  border-radius: 5px;
  border-width: 4px;
  border-color: #999;
}
.cg {}
.group .gname {}
.group.current .gname {}
.msgs {
  border-style: dashed none none none;
  border-radius: 5px;
  border-width: 4px;
  border-color: #999;
}
.msg {}
.from {
  color: #999;
}
.pass {}
.lgn {}
.lgout {
  background-color: red;
  border-radius: 5px;
  color: white;
}
.lgnform {
  border-style: dashed none dashed none;
  border-color: #999;
  border-width: 4px;
  border-radius: 5px;
  background-color: yellow;
  padding: 5px;
}
